.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared style */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.orange-BG{
    background-color: rgba(255, 144, 14, 0.1);
}
.Dark-01{
    color: rgba(19, 19, 19, 1);
}
.Dark-02{
    color: rgba(66, 66, 66, 1);
}
.Dark-03{
    color: rgba(114, 114, 114, 1);
}
.display-flex{
    display: flex;
}
.btn{
    font-size: 1.25rem;
    font-weight: 600;
    color: white;
    background-color: rgba(255, 144, 14, 1);
    border-radius: 8px;
    border: none;
    padding: 20px 25px;
}
 .nav, 
 .banner,
 .team-section,
 .features-section,
 .Some-facts,
 .sponsors-section,
 .footer{
    max-width: 1440px;
    margin: 0 auto;
}
/* header style */
.brand{
    font-size: 3rem;
    font-weight: 700;
}

header nav{
    justify-content: space-between;
    padding: 20px 0px;
    align-items: center;
   
 }
 header ul{
    list-style: none;
    gap: 20px;
 }
 header ul a{
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 500;
 }
 .banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
 }
 .banner-title{
    font-weight: 700;
    font-size: 4rem;
    margin-bottom: 10px;
 }
 .banner-description{
    font-size: 1rem;
    margin-bottom: 20px;
 }
.banner img{
    padding-bottom: 50px;
}
/* team section */
.team-section{
    gap: 75px;
    padding:100px 0px;
    align-items: center;
}
.team-image-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.heading-span-1{
    font-size: 3rem;
    font-weight: 500;
}
.heading-span-2{
    font-size: 3rem;
    font-weight: 700;
}
.heading-span-3{
    font-size: 3rem;
    font-weight: 700;
    color:rgba(255, 144, 14, 1) ;
}
.team-content-description{
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 30px;
    margin-top: 30px;
}
/* features section */
.features-section{
    padding: 100px 0px;
}
.features-content{
    margin-right: 140px;
}
.features-heading{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 24px;
    padding-left: 15px;
    border-left: 5px solid rgba(255, 144, 14, 1);
}
.features-description{
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 30px;
}
.card-content{
    width: 580px;
    padding: 30px 42px 30px 30px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    background: rgba(255, 255, 255, 1);
}
.content-heading{
    font-size: 1.50rem;
    font-weight: 600;
    line-height: 23px;
    margin-bottom: 15px;
}
.content-description{
    font-size: 1rem;
    line-height: 26px;
    font-weight: 400;
}
.features-image{
    width: 700px;
    height: 900px;
}
.experience-box{
    width: 312px;
    height: 180px;
    padding: 46px 42px 30px;
    position: relative;
    margin-top: -100px;
    margin-left: -100px;
    border-radius: 8px;
    background-color:rgba(255, 144, 14, 1); 
    color: white;
    align-items: center;
    justify-content: center;
}
.experience-heading{
    font-size: 4rem;
    font-weight: 700;
    line-height: 36px;
    text-align: center;   
}
.experience-span{
    font-size: 1.50rem;
    font-weight: 500;
    
}
/* Some Facts section */
.Some-facts{
    padding: 100px 0px;
}
.Some-facts-heading{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 24px;
}
.Some-facts-description{
    width: 540px;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 80px;
}
.card-box{
    text-align: center;
    align-items: center;
    justify-content: space-around;

}
.facts-card{
    border:1px solid rgba(255, 144, 14, 1);
    border-radius: 8px;
    margin-right: 50px;
    padding: 25px 35px; 
}
.box-heading{
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 10px;
}
.box-description{
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 10px;
}
/* sponsors section */
.sponsors-content{
    text-align: center;
}
.sponsors-heading{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 24px;
}
.sponsors-description{
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 80px;
}
.company{
    filter: grayscale(100%);
    margin-bottom: 100px;
    margin-right: 120px;
}
/* footer */
.footer{
    font-size: 1rem;
    font-weight: 400;
    padding: 40px;
    text-align:center ;
    border-radius: 8px;
    margin-bottom: 150px;
}